@use 'util.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &::before,
  &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 300;
}
ul,
ol,
li {
  list-style: none;
}
img,
hr {
  border: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
  td img {
    vertical-align: middle;
  }
}

a {
  vertical-align: top;
  color: #000;
  &:link,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
article,
aside,
bdi,
details,
dialog,
figcaption,
figure,
footer,
header,
main,
mark,
menuitem,
meter,
nav,
progress,
rp,
rt,
ruby,
section,
summary,
time,
wbr,
body,
p,
div,
ul,
li,
dl,
dt,
dd,
ol,
fieldset,
textarea,
input,
select,
table,
th,
td,
address,
cite,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
label,
pre {
  font-size: inherit;
  color: inherit;
}
strong,
h1,
h2,
h3,
h4,
h5,
h6,
th,
b,
dt {
  font-weight: 600;
}
input {
  vertical-align: top;
  outline: none;
  &[type='text'],
  &[type='number'],
  &[type='email'],
  &[type='password'] {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    background: #fff;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  &::-ms-clear {
    display: none;
  }
  &::placeholder {
    font-family: inherit;
    color: inherit;
  }
  &[type='file'],
  &[type='image'],
  &[type='reset'],
  &[type='button'],
  &[type='submit'] {
    cursor: pointer;
  }
}
select {
  vertical-align: top;
  outline: none;
  display: inline-block;
  padding: 0 0 0 10px;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Pretendard', sans-serif; /*-webkit-appearance: none;-moz-appearance: none; appearance: none; */
  &::-ms-expand {
    display: none;
  }
}
textarea {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-sizing: border-box;
  font-family: inherit;
}
button {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  font-family: 'Pretendard', sans-serif;
}
caption {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
legend {
  position: absolute;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}
address,
cite,
em,
i {
  font-style: normal;
}
fieldset,
iframe {
  border: 0;
}
label {
  cursor: pointer;
}
figure {
  margin: 0;
  padding: 0;
}
.no-border {
  border: 0 !important;
}
sup,
sub {
  line-height: 1;
}
.fs {
  font-size: 0;
}
.cf::before {
  content: '';
  display: block;
  clear: both;
}
.cf::after {
  content: '';
  display: block;
  clear: both;
}
.dot {
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}
.dot2 {
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.align_r {
  text-align: right;
}
.align_c {
  text-align: center;
}
.align_l {
  text-align: left;
}
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
.relative {
  position: relative !important;
}
.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px !important;
  font-size: 0 !important;
}
.boxed {
  overflow: hidden;
  width: 100%;
}
.boxed > * {
  float: left;
  margin-left: 10px;
}
.boxed > *:first-child {
  margin-left: 0;
}
.boxed > .text {
  line-height: 32px;
}
.hidden {
  display: none;
}
.measure {
  text-align: left !important;
  font-size: 12px;
  padding: 0 2px;
  line-height: 15px;
}
.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  text-decoration: none;
  overflow: visible;
  zoom: 1;
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
}
