@use "sass:meta";
@use 'util.scss'; // color 변수 및 미디어쿼리 정의

/* 공통영역 - header */
.header {
  position: relative;
  height: 80px;
  border-bottom: 1px solid util.$gray01;
  .inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1520px;
    margin: 0 auto;
    padding: 24px 0;
  }
  .inner_l {
    font-size: 0;
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 52px;
    height: 32px;
    a {
      display: block;
      height: 32px;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/common/logo.png);
    }
  }
  #navi {
    display: inline-block;
    vertical-align: top;
    ul {
      display: flex;
      justify-content: flex-start;
      padding-left: 25px;
      li {
        display: flex;
        padding: 0 15px;
        a {
          display: block;
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          font-weight: 400;
          color: util.$gray02;
        }
        &.active a {
          padding-left: 16px;
          font-weight: 700;
          color: util.$orange01;
          background-repeat: no-repeat;
          background-position: left center;
          background-image: url(../images/common/ico_add.png);
        }
      }
    }
  }

  .inner_r ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    li {
      width: 28px;
      margin-left: 24px;
      a {
        display: block;
        height: 28px;
        text-indent: -9999em;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.logout a {
        background-image: url(../images/common/ico_logout.png);
      }
      &.mypage a {
        background-image: url(../images/common/ico_member.png);
      }
    }
  }

  @include util.desktop {
    /*브라우저 사이즈 1024px이상 1520px 이하일 때*/
    .inner {
      padding: 24px 30px;
    }
  }
}
/* 공통영역 - header 종료 */

/* 공통영역 - footer */
.footer {
  position: relative;
  border-top: 1px solid util.$gray01;
  overflow: hidden;
  .inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1520px;
    margin: 0 auto;
  }
  .inner_l {
    width: calc(100% - 428px);
    padding: 60px 0 100px;
    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
    }
    .co_info_list {
      padding: 76px 0 122px;
      li {
        font-size: 0;
        padding-bottom: 4px;
        p {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
          font-weight: 400;
          color: util.$gray02;
          line-height: 26px;
        }
        .info_l {
          width: 322px;
        }
        .info_r {
          width: calc(100% - 322px);
          font-size: 0;
          strong {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            width: 124px;
            font-weight: 400;
          }
          span {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            font-weight: 400;
          }
          .btn {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            margin-left: 4px;
            border: 1px solid util.$gray01;
            border-radius: 5px;
            padding: 0 8px;
          }
        }
      }
    }
    .copy {
      font-size: 14px;
      font-weight: 400;
      color: util.$gray02;
      line-height: 18px;
    }
  }

  .inner_r {
    position: relative;
    width: 428px;
    padding: 60px 20px 100px;
    &:before {
      content: '';
      width: 1px;
      height: auto;
      position: absolute;
      top: 0;
      bottom: -1000px;
      left: 0;
      background-color: util.$gray01;
    }
    dt {
      font-size: 18px;
      font-weight: 800;
      line-height: 22px;
      color: util.$orange01;
      padding-bottom: 20px;
    }
    dd {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: util.$gray02;
      padding-bottom: 10px;
      &.active {
        font-weight: 800;
        color: util.$black01;
        padding-bottom: 60px;
      }
      a {
        display: block;
        font-size: inherit;
      }
    }
  }

  @include util.desktop {
    /*브라우저 사이즈 1024px이상 1520px 이하일 때*/
    .inner {
      padding: 0 30px;
    }
  }
}

/* 공통영역 - footer 종료 */

/* 입력창 */
.input_area {
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 54px;
    border: 1px solid util.$gray01;
    padding-left: 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: util.$black01;
    &::placeholder {
      color: util.$gray03;
    }
    &:disabled {
      padding-left: 4px;
      color: util.$black01;
      border-bottom-color: util.$black01;
      background-color: util.$white03;
      cursor: not-allowed;
    }
  }
  .certify {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 40px;
    color: util.$red;
  }
}

/* 버튼 영역 */
.btn_area {
  padding-top: 40px;
  text-align: center;
  .btn {
    display: block;
    text-align: center;
    width: 100%;
    height: 56px;
    line-height: 54px;
    border: 1px solid util.$orange01;
    border-radius: 4px;
    background-color: util.$orange01;
    font-size: 14px;
    font-weight: 700;
    color: util.$white02;
    &.form02 {
      border-color: util.$gray01;
      background-color: util.$white02;
      color: util.$black01;
    }
  }
  &.type_02 {
    font-size: 0;
    margin-left: -16px;
    .btn {
      display: inline-block;
      vertical-align: top;
      margin-left: 16px;
      width: calc(50% - 16px);
    }
  }
  &.type_03 .btn {
    display: inline-block;
    width: 604px;
  }
}

/* 체크 영역 */
.chk_area {
  position: relative;
  text-align: left;
  position: relative;
  padding-top: 20px;
  input {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked + label {
      color: util.$black01;
      font-weight: 700;
      &:before {
        background-color: util.$orange01;
      }
    }
  }
  label {
    position: relative;
    display: block;
    padding-left: 36px;
    font-size: 20px;
    line-height: 26px;
    color: util.$gray02;
    font-weight: 400;
    &:before {
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background-color: util.$gray01;
      position: absolute;
      top: 1px;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/common/ico_chk.png);
    }
    span {
      display: block;
      padding-top: 4px;
      font-size: 14px;
      font-weight: 400;
      color: util.$gray02;
      line-height: 18px;
    }
  }
  .btn {
    display: inline-block;
    vertical-align: top;
    padding: 0 26px;
    font-weight: 20;
    font-weight: 500;
    color: util.$gray02;
    position: absolute;
    top: 20px;
    right: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    &:hover {
      color: util.$black01;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 26px;
      position: absolute;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/common/ico_down.png);
      transition: 0.3s;
      -webkit-transition: 0.3s;
    }
    &.active:after {
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
    }
  }
  &.radio {
    padding-top: 0;
    label {
      font-size: 16px;
      font-weight: 400;
      color: util.$gray02;
      &:before {
        top: 10px;
        height: 21px;
        border-radius: 24px;
        background-color: util.$white02;
        border: 1px solid util.$gray01;
      }
    }
    input:checked + label {
      font-weight: 700;
      color: util.$black03;
      &:before {
        border-color: util.$orange01;
        background-image: url(../images/common/ico_chk02.png);
      }
    }
  }
  &.chkAll {
    padding: 20px 0 30px;
    border-bottom: 2px solid util.$gray01;
    margin-bottom: 10px;
  }
}

/* 팝업 */
.popup_layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  .popup_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .popup_inner {
    // 계정 찾기 팝업
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: util.$white02;
    width: 804px;
    padding: 80px 100px 120px;
    color: util.$black01;
    .popup_tit {
      font-size: 36px;
      line-height: 47px;
      text-align: left;
      font-weight: 700;
    }
    .btn.close {
      position: absolute;
      top: 80px;
      right: 100px;
      width: 47px;
      height: 47px;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: right center;
      background-image: url(../images/common/btn_close.png);
    }
    .srch_result {
      margin-top: 76px;
      border: 1px solid util.$gray01;
      padding: 67px 0;
      p {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        strong {
          color: util.$orange01;
        }
      }
    }
    .btn_area {
      padding-top: 80px;
    }

    .host_area {
      // 계정 찾기 팝업
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      border: 1px solid util.$gray01;
      .img_area {
        width: 301px;
        padding-bottom: 360px;
        border-radius: 0;
      }
      .info_area {
        width: 301px;
        padding: 30px 24px;
        h4 {
          font-size: 24px;
          line-height: 31px;
          font-weight: 700;
          color: util.$black02;
        }
        .infoBox {
          margin-top: 20px;
          border-radius: 12px;
          background-color: #ffeee6;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          .ib {
            position: relative;
            display: block;
            width: 107px;
            text-align: center;
            margin-left: 27px;
            padding-left: 27px;
            color: util.$black02;
            &:before {
              content: '';
              width: 1px;
              height: 40px;
              background-color: #ffd9c7;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
            }
            &:first-child {
              margin-left: 0;
              padding-left: 0;
              width: 80px;
            }
            &:first-child:before {
              display: none;
            }
            .tit {
              font-size: 14px;
              line-height: 18px;
              font-weight: 700;
              white-space: nowrap;
            }
            .txt {
              padding-top: 8px;
              font-size: 14px;
              line-height: 47px;
              display: flex;
              justify-content: center;
              strong {
                display: block;
                font-size: 36px;
                color: util.$orange01;
              }
              strong {
                display: block;
                font-size: 36px;
                color: util.$orange01;
              }
            }
          }
        }
        &.type_02 {
          //마이페이지 이용자 프로필 영역
          .infoBox {
            justify-content: center;
          }
        }
        dl {
          padding-top: 30px;
          dt {
            font-size: 16px;
            line-height: 21px;
            color: util.$gray02;
            padding-bottom: 12px;
          }
          dd {
            font-size: 14px;
            line-height: 18px;
            color: util.$black01;
            max-height: 72px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            word-spacing: -0.1em;
          }
        }
      }
    }

    .payment_info {
      //결제 상세 팝업
      padding-top: 16px;
      .tit {
        padding-top: 60px;
        font-size: 28px;
        line-height: 36px;
        font-weight: 700;
        color: util.$black01;
      }
      .info_top {
        display: flex;
        margin-top: 20px;
        padding: 30px 20px;
        background-color: util.$white03;
        .img_area {
          width: 176px;
          padding-bottom: 98px;
          border-radius: 8px;
          border: 1px solid util.$gray04;
        }
        .info_area {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(100% - 176px);
          padding: 0 20px;
          h4 {
            font-size: 28px;
            line-height: 36px;
            font-weight: 700;
            color: util.$black01;
          }
          .info {
            display: flex;
            dt {
              width: 80px;
              font-size: 16px;
              line-height: 21px;
              font-weight: 700;
              color: util.$gray02;
            }
            dd {
              width: 210px;
              padding: 0 20px 0 12px;
              font-size: 16px;
              line-height: 21px;
              font-weight: 400;
              color: util.$black01;
            }
          }
        }
      }

      .list_table {
        margin-top: 12px;
        border-top: 2px solid util.$black01;
        li {
          padding: 20px 0;
          .tb_info {
            display: block;
            width: 300px;
            text-align: center;
            .info_list {
              width: 100%;
              margin: 0;
              padding: 0 20px;
              li {
                justify-content: space-between;
                padding: 12px 0 0;
                &:first-child {
                  padding-top: 0;
                }
                .tit {
                  width: 150px;
                  padding: 0;
                  font-weight: 400;
                }
                .txt {
                  width: 100px;
                  padding: 0;
                  text-align: right;
                  font-weight: 700;
                }
              }
            }
          }
          .tb_price {
            width: 180px;
          }
        }
      }
    }
  }

  &.type_02 {
    //결제 상세 팝업
    .popup_inner {
      width: 1200px;
      max-height: 90%;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: util.$orange01 util.$white03;
    }
  }
}

/*=====별점=====*/
.star_area {
  display: inline-block;
  width: 116px;
  height: 20px;
}
.star_area .star {
  display: block;
  height: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('../images/common/star_bg.png');
}

/* 페이징 */
.paging {
  margin-top: 60px;
  text-align: center;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn,
  span {
    display: block;
    height: 32px;
    line-height: 30px;
    width: 24px;
    font-size: 20px;
    color: util.$gray02;
    font-weight: 400;
    border-bottom: 2px solid util.$white02;
    margin: 0 8px;
    &.on {
      font-weight: 700;
      color: util.$black01;
      border-color: util.$black01;
    }
  }
}

/* 로그인 및 회원가입, 계정찾기 */
@include meta.load-css('member.scss');

/* 메인페이지 */
@include meta.load-css('main.scss');

// 이미지, 텍스트 영역 공통
.img_area {
  display: block;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background-color: util.$white02;
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.txt_area {
  display: block;
  padding-top: 20px;
  color: util.$black01;
  .sort {
    display: flex;
    align-items: center;
    span {
      margin-right: 8px;
      padding: 0 12px;
      height: 30px;
      line-height: 28px;
      border: 1px solid util.$gray01;
      border-radius: 4px;
      background-color: util.$white02;
      font-size: 14px;
      color: util.$black02;
      &.hot,
      &.new {
        background-color: util.$orange01;
        border-color: util.$orange01;
        color: util.$white02;
      }
    }
  }
  .tit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
  }
  .txt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 75px;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: util.$gray02;
    span {
      display: block;
    }
  }
  .price {
    display: block;
    padding-top: 30px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
  }
}

// 리스트 공통
.list_wrap {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: -40px 0 0 -40px;
    li {
      width: 350px;
      margin-left: 40px;
      padding-top: 80px;
      .list_link {
        display: block;
      }
      .img_area {
        height: 0;
        padding-bottom: 400px;
        border: 1px solid util.$gray04;
      }
      .txt_area {
        .tit {
          margin-top: 12px;
          height: 62px;
          word-break: keep-all;
        }
      }
    }
  }
}

/* 주문결제 및 마이페이지 */
@include meta.load-css('mypage.scss');
